[submodule "lain"]
    path = lain
    url = git://github.com/copycat-killer/lain.git
[submodule "apw"]
    path = apw
    url = git://github.com/plotnikovanton/apw 
[submodule "revelation"]
    path = revelation
    url = git://github.com/YoRyan/awesome-redshift.git
