[submodule "lain"]
    path = lain
    url = https://github.com/copycat-killer/lain.git
[submodule "apw"]
    path = apw
    url = https://github.com/plotnikovanton/apw 
[submodule "revelation"]
    path = revelation
    url =  https://github.com/guotsuan/awesome-revelation.git 
[submodule "net_widgets"]
    path = net_widgets
    url = https://github.com/plotnikovanton/net_widgets.git
[submodule "terannycal"]
    path = terranycal
    url = https://github.com/Elv13/tyrannical
